h2{
background-color: rgba(118, 128, 187, 0.647);
color: black;
border: 2px solid red;
height: 20px;
border-radius: 10px;
text-align: center;
font-size: medium;
}
.hayvon{
background-color: yellow;
color: green;
text-align: center;
}
.img{
 margin-left: 10px;   
}
.video{
background-color: black;
width: 650px;
height: 380px;
margin-left: 30px;
text-align: center;
border-radius: 20px;
}
.green{
color: rgb(0, 82, 0);
}
.input{
 width: 1500px;
 height: 30px;
}
.radio{
color: black;
}
table,th,td{
border-collapse: collapse;
}
th,td{
  height: 50px;   
}
.a1{
  color: white;
  text-align: center;
  background-color: green;
  width: 150px;
  height: 20px;
}
.a2{
  color: white;  
  background-color: blue;
  text-align: center;
  width: 1000px; 
  height: 20px;
}
.same{
 color: white;
 background-color: red;
 text-align: center;
 width: 150px;
 height: 20px;
}
.same2{
  color: white; 
  background-color: black;
  text-align: center; 
  width: 1000px;
  height: 20px;
}
 button{
color: white;
background-color:  rgb(4, 133, 213);
width: 200px;
height: 20px;
}